{{define "login" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Страница авторизации</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
<h1>Авторизация</h1>
<form id="loginForm" name="loginForm" action="/login" method="post">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="login" name="login" class="form-control" id="login" autocomplete="on" >
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" autocomplete="on">
    </div>
    <button type="submit" class="btn btn-primary" name="submitBtn">Войти</button>
</form>
{{ if . }}
<div>
    {{ .Message }}
</div>
{{ end }}
<br>
<a class="btn btn-success" href="/signup">Зарегистрироваться</a>
</body>
</html>
{{ end }}