{{ define "user" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Профиль пользователя</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>

<h1>
    {{ .Name }} {{ .Surname }}
    <a class="btn btn-primary" href="/editprofile">Изменить профиль</a>
    <a class="btn btn-outline-primary" href="/logout">Выйти</a>
</h1>

<h2>Адресаты публикаций</h2>
<table class="table table-bordered">
    <tr>
        <th scope="row">tg group</th>
        <td>{{ .VKgroups }}</td>
    </tr>
    <tr>
        <th scope="row">vk group</th>
        <td>{{ .TelegramGroups }}</td>
    </tr>
</table>
<br>

{{ end }}

<h1>Список публикаций:</h1><br>
<form
        enctype="multipart/form-data"
        action="/editpost"
        method="put"
>
    <input class="btn btn-sm btn-warning" name="list" value="allposts" hidden="true">
    <input type="submit" value="Все посты" />
</form>
<form
        enctype="multipart/form-data"
        action="/editpost"
        method="put"
>
    <input class="btn btn-sm btn-warning" name="list" value="unpublishedpostes" hidden="true">
    <input type="submit" value="Неопубликованные посты" />
</form>

{{ define "postlist" }}
<table class="table table-bordered">
    <thead class="table-dark">
        <th>post time</th>
        <th>text</th>
        <th>photo</th>
        <th>daily</th>
        <th>monthly</th>
        <th>done</th>
    </thead>
    <tr>
        <form class="p-2" enctype="multipart/form-data" action="/post" method="post">
            <td><input type="datetime-local" class="form-control" name="postDateTime" /></td>
            <td><textarea class="form-control" name="postText"></textarea></td>
            <td><input type="file" class="form-control" name="postFile" /></td>
            <td><input type="checkbox"  name="postDaily"  /></td>
            <td><input type="checkbox"  name="postMonthly" /></td>
            <td><input type="checkbox" class="form-control" name="postDone" hidden="true" /></td>
            <td><input class="btn btn-primary" type="submit" value="Добавить"/></td>
        </form>
    </tr>
    {{range . }}
    <tr>
        <td>{{.TimeOfPost.Format "2006-01-02 15:04"}}</td>
        <td>{{.Text}}</td>
        <td><img src={{.PhotoPath}} width="70"  /></td>
        {{ if .Daily}}
        <td><input type="checkbox" checked disabled></td>
        {{ else }}
        <td><input type="checkbox" disabled></td>
        {{ end }}
        {{ if .Monthly}}
        <td><input type="checkbox" checked disabled></td>
        {{ else }}
        <td><input type="checkbox" disabled></td>
        {{ end }}
        {{ if .Done }}
        <td><input type="checkbox" checked disabled></td>
        {{ else }}
        <td><input type="checkbox" disabled></td>
        {{ end }}

        <td>
            <form action="/post" method="post">
                <input type="text" name="postId" value="{{.Id}}" hidden="true">
                <input name="func" value="delete" hidden="true">
                <input class="btn btn-danger" type="submit" value="Удолить"
                       onclick="return confirm('Уверенны, что хотите удалить запись?')" />
            </form>
        </td>
    </tr>
    {{end}}
</table>
<br>
{{ end }}
</body>
</html>
